.icon {
    width: 2.5rem;
    height: 2.5rem;
}

.icon1 {
    width: 5rem;
    height: 5rem;
}

.flex {
    display: flex;
    align-items: center;
}

.text {
    font-size: 2rem;
    font-weight: 600;
}

.text2 {
    font-size: 1rem;
    font-weight: 600;
}